/** @format */

body {
  background-color: #ead1f6;
  background-image: linear-gradient(to bottom, #ead1f6 0%, #cfa7da 90%);
}
a {
  text-decoration: none;
  color: #a90359;
  font-size: 15px;
  font-weight: 600;
}
a:hover {
  color: unset;
}
h1 {
  text-align: center;
  color: #42133f;
  margin: 10px;
  font-size: 65px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
  border: 2px solid #fd499b;
  box-shadow: 3px 3px 3px #ccc;

  border-radius: 5px;
  padding: 15px;
  color: #6d3a80;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
  border-radius: 7px;
}
p {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #42133f;
}
h3 {
  color: #1bc4d6;
  font-weight: 800px;
  padding-left: 30px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
  padding: 0 40px;
  font-size: 20px;
  color: #2d1038;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  line-height: 17px;

  list-style-type: none;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #2d1038;
  font-weight: 700;
  padding: 15px;
}

button {
  display: block;
  margin: 50px auto;
  transition: all 200ms ease-in-out;
  color: white;
  background-color: #b56eb4;
  border-radius: 30px;
  padding: 15px 20px;
  border: none;
  font-weight: bolder;
  box-shadow: 3px 3px 3px #ccc;
}

button:hover {
  background-color: #a90359;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

.foot {
  text-align: center;
  font-family: monospace;
  opacity: 0.7;
  padding: 20px;
}
.joy {
  color: purple;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  background-color: #fefdff;
  border-radius: 6px;

  box-shadow: 3px 3px 3px #ccc;
}
.fun {
  list-style-type: square;
  margin: 40px;
}
.news {
  text-align: justify;
  margin: 40px;
  margin-bottom: 5px;
  color: #2d1038;
  line-height: 2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
hr {
  border: 1px solid violet;
  box-shadow: 3px 3px 3px #ccc;
}
.readMore {
  padding: 40px;
}
